
body {
	margin: 0;
}
.documentation {
	max-width: 20cm;
	margin-left: auto;
	margin-right: auto;
}

div:has(> table), div:has(#FTVT-canvas) {
	overflow-x: auto;
}

table {
	width: calc(var(--max-width) - 2em);
	margin-left: auto;
	margin-right: auto;
	border: 2px solid var(--accent-col);
	border-collapse: collapse;
}
th {
	border: 2px solid var(--accent-col);
	padding: 2px;
}
td {
	border: 1px solid var(--accent-col);
	padding: 5px;
	text-align: center;
}

.NumericTableField {
	text-align: right;
}

a {
	color: var(--link-col);
}

td audio {
	width: 100%;
}
textarea {
	width: 100%;
	height: 100%;
	resize: none;
}
tbody tr {
	height: 12em;
}
tbody td {
	height: 100%;
}

button, .downloadLink, .FTVT-frequencyBlock {
	min-width: var(--button-width);
	line-height: 2em;
	margin: 5px;
	font-size: 2rem;
	border-color: var(--accent-col);
	border-width: 3px;
	border-style: solid;
	border-radius: var(--border-radius);
	background-color: var(--accent-bg-col);
	display: inline-block;
	vertical-align: bottom;
	padding: 0;
}
.downloadLink {
	line-height: 2em;
	text-decoration: none;
	padding: 0;
}
#FTVT-controls input, #FTVT-controls select {
	font-size: 2rem;
}
.FTVT-frequencyBlock {
	display: flex;
	width: calc(var(--button-width) * 2 + 10px);
	input {
		min-height: calc(1.5cm - 4px);
		border-radius: 0;
		border: none;
		margin-left: 0.2em;
		margin-right: 0.2em;
		min-width: 2em;
		flex-grow: 1;
		flex-shrink: 1;
	}
	abbr {
		text-decoration: none;
	}
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.FTVT-frequencyBlock:has(:focus) {
	border-color: cyan;
	background-color: var(--inv-col);
	input {
		background-color: var(--inv-col);
		outline: none;
	}
}
.FTVT-frequencyBlock:has(:invalid) {
	border-color: orange;
	background-color: yellow;
	color: black;
	input {
		color: red;
		background-color: yellow;
	}
}

footer {
	text-align: center;
	color: gray;
}

footer > p > a {
	color: gray;
	text-decoration: underline;
}

select {
	color: var(--accent-col);
	background-color: var(--accent-bg-col);
	border-color: var(--accent-col);
	border-width: 3px;
	border-radius: var(--border-radius);
}

select:hover, button:hover, .downloadLink:hover {
	background-color: var(--accent-bg-col-2);
}

input[type="number"] {
	color: var(--accent-col);
	background-color: var(--accent-bg-col);
	border-width: 3px;
	border-radius: var(--border-radius);
	appearance: textfield;
	text-align: right;
	font-family: monospace;
}
#FTVT-threshold {
	display: flex;
}
label input, label output {
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 0.5em;
}
label {
	display: flex;
}
input[type="range"] {
	width: 100%;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#FTVT-canvas {
	border-bottom: solid var(--accent-col);
	background-color: var(--canvas-bg-col);
	margin: 0;
	width: 100%;
	border-width: 3px;
}
header, #FTVT-controls {
	font-size: 2rem;
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.FTVT-popover {
	width: 80%;
	max-width: calc(0.8 * var(--max-width));
	max-height: 90vh;
	overflow-y: scroll;
	background-color: var(--bg-col);
	border: solid 3px var(--accent-col);
	border-radius: var(--border-radius);
}
.FTVT-language {
	font-style: italic;
}
.FTVT-octaveDiv, .FTVT-mainControls {
	display: flex;
	flex-wrap: wrap;
	button, label {margin: 0};
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.FTVT-flexSpacer{
	flex-grow: 1;
	flex-shrink: 1;
}
header, footer {
	display: none;
}
@media not (display-mode: standalone) {
	header, footer {
		display: block;
	}
	#FTVT-canvas {
		border-top: solid var(--accent-col);
	}
}
label {
	background-color: var(--accent-bg-col);
	border-radius: var(--border-radius);
	border: var(--accent-col) solid;
	line-height: 2em;
	padding-left:0.5em;
	padding-right: 0.5em;
	margin-top: 5px;
	margin-bottom: 5px;
	input, output {
		min-height: calc(1.5cm - 4px);
		height: calc(1.5cm-4px);
		line-height: 2em;
	}
	sub {
		line-height: 0;
	}
}
.FTVT-canvasControls {
	display: flex;
	flex-wrap: wrap;
	gap: 0px 5px;
	label {
		width: calc(40%);
		min-width: 20em;
		flex-grow: 1;
	}
	button {
		margin-left: 0;
		margin-right: 0;
	}
}
.FTVT-textDisplay {
	.FTVT-selectorDiv {
		margin-top:5px;
		display: flex;
		select {
			text-overflow: ellipsis;
			overflow-x: hidden;
		}
		.FTVT-languageSelector {
			border-radius: 0;
			border-top-left-radius: var(--border-radius);
			border-bottom: none;
			border-right: none;
			flex-shrink: 0;
		}
		.FTVT-textSelector {
			border-radius: 0;
			border-top-right-radius: var(--border-radius);
			border-bottom: none;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
	blockquote {
		padding: 0.5em;
		margin: 0;
		border: solid var(--accent-col);
		border-width: 3px;
		color: var(--main-col);
		background-color: var(--accent-bg-col);
		border-radius: var(--border-radius);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		hyphens: auto;
		p {
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}
	}
}
#FTVT-settings {
	font-size: 2em;
	label {
		width: 100%;
		justify-content: space-between;
		vertical-align: center;
		input[type="checkbox"] {
			flex-grow: 0;
			width: 3em;
			height: 3em;
			align-self: center;
		}
	}
}
