@media only screen and (prefers-color-scheme: light){
	html {
		--main-col: black;
		--accent-col: purple;
		--bg-col: #f9d3ff;
		--accent-bg-col: #f2b0fc;
		--accent-bg-col-2: #e685f5;
		--canvas-bg-col: white;
		--link-col: #68005d;
	}
}
@media only screen and (prefers-color-scheme: dark){
	html {
		--main-col: white;
		--accent-col: fuchsia;
		--bg-col: #2a111e;
		--accent-bg-col: #27142d;
		--accent-bg-col-2: #42224c;
		--canvas-bg-col: black;
		--link-col: pink;
	}
}
html {
	color: var(--main-col);
	background-color: var(--bg-col);
}

body {
	padding: 10px;
}

body.documentation {
	max-width: 20cm;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: var(--accent-col);
	text-align: center;
}

h2 {
	color: var(--accent-col);
	border-bottom: dotted 2px;
}

#canvas {
	border: solid var(--accent-col);
	background-color: var(--canvas-bg-col);
	margin: 5px;
	border-radius: 10px;
	border-width: 3px;
}

#ToggleRecordButton{
	color: green;
}


table {
	width: 100%;
	border: 2px solid var(--accent-col);
	border-collapse: collapse;
}
th {
	border: 2px solid var(--accent-col);
	padding: 2px;
}
td {
	border: 1px solid var(--accent-col);
	padding: 5px;
	text-align: center;
}

.NumericTableField {
	text-align: right;
}

a {
	color: var(--link-col);
}

#TextDisplay{
	padding: 5px;
	margin: 5px;
	border: solid var(--accent-col);
	border-width: 3px;
	font-size: 150%;
	color: var(--main-col);
	background-color: var(--accent-bg-col);
	border-radius: 10px;
}

button {
	min-width: 3cm;
	min-height: 1.5cm;
	font-size: 200%;
	margin: 5px;
	border-color: var(--accent-col);
	border-width: 2px;
	border-radius: 10px;
	background-color: var(--accent-bg-col);
}

footer {
	text-align: center;
	color: gray;
}

footer > p > a {
	color: gray;
	text-decoration: underline;
}

.ActionField > a {
	font-size: 200%;
	text-decoration: none;
	padding:2px;
}

select {
	color: var(--accent-col);
	background-color: var(--accent-bg-col);
	border-color: var(--accent-col);
	border-width: 3px;
	border-radius: 10px;
}

select:hover, button:hover {
	background-color: var(--accent-bg-col-2);
}

input[type="number"] {
	color: var(--accent-col);
	background-color: var(--accent-bg-col);
	border-color: var(--accent-col);
	border-width: 3px;
	border-radius: 10px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
