
html {
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

#canvas {
	border: solid purple;
	background-color: black;
}

#ToggleRecordButton{
	color: green;
}

th {
	min-width: 10%;
}

td {
	text-align: right;
}

table, th, td {
  border: 1px solid white;
}
